<h1>New topic</h1>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :forum_id %><br />
    <%= f.text_field :forum_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', topics_path %>
